<div class="card-columns justify-content-center">
  <div *ngFor="let songs of ultimasCanciones " class="card" style="width: 18rem;">
    <img [src]="songs.images[0].url" class="card-img-top" alt="songs.name">
    <div class="card-body">
      <h5 class="card-title">{{ songs.name }}</h5>
      <p class="card-text">
          <span *ngFor="let artista of songs.artists" class="badge badge-pill badge-light">{{ artista.name }}</span>
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
